.page-container {
  display: flex;
  flex-direction: column;
}

body {
  font-size: 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.733)),
    url(../assets/tollo-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  z-index: 100;
}

#tollo-title {
  font-size: 40px;
}

#description {
  min-height: 100vh;
  color: white;
  z-index: 1;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 10px 4% 10px 4%;
}
#page-description {
  margin: 150px auto;
  width:90%;
  background: #222a3fe8;
  border: 2px solid #222a3f;
  border-radius: 10px;
  padding: 0 30px 30px 30px;
}

#tollo-profile-img {
  padding: 0;
  border: 3px solid #222a3fb0;
  margin: 4px;
  width:100%;
  border-radius: 5px;
  z-index: -1;
  display: flex;
}

/* FEATURES */
#features {
  background-color: #d1ddfc;
  color: #1d2436;
  padding: 40px 20px 40px 20px;
  z-index: 1;
  margin:0 0 50px 0;
}

/* DESIGN */

#design {
  background: #222a3f;
  color: #fff;
  padding: 40px 20px 40px 20px;
  margin:0 0 50px 0;
}

#design-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#tollo-logo {
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
  float: right;
}

#design h2 {
  margin: 50px 0 0 0;
}

#design-text p {
  width: 100%;
  height: auto;
  padding: 0;
}

.mock-up-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.mock-up-container h3 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

#tollo-old {
  margin: 0 auto;
  width:97%;
  height:auto;
}

#tollo-home {
  margin: 0 auto;
  width:97%;
  height:auto;
}

/* CHALLENGES */
#challenges {
  background-color: #d1ddfc;
  padding: 40px 20px 120px 20px;
  color: #1d2436;
}

/* LEARNING */
#learning {
  background-color: #1c2131cc;
  padding: 100px 20px 120px 20px;
  color: #fff;
}

#visitBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  border: 2px solid #b4dae4;
  padding: 13px 9px 13px 9px;
  width: 80px;
  margin: 50px auto;
  position: relative;
  top: 20px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

#visitBtn:hover {
  background: #222a3f;
  color: #c8f3ff;
  cursor: pointer;
}
